{{ define "main" }}
{{ partial "breadcrumbs.html" . }}

{{ if not .IsHome }}
  <h1>{{ .Title }}</h1>
{{ end }}
{{ with .Params.description }}<p>{{ . }}</p>{{ end }}

<ul>
  {{ range .Pages}}
    <li style="margin-bottom: 1rem;">
      <a href="{{ .RelPermalink }}"><strong>{{ .Title }}</strong></a><br/>
      {{ with .Params.summary }}<small>{{ . }}</small><br/>{{ end }}
      <!-- {{ with .Params.tags }}
        <small>Tags:
          {{ range . }}
            <span style="padding:0 .4rem; border:1px solid #ddd; border-radius:999px; margin-right:.25rem;">{{ . }}</span>
          {{ end }}
        </small>
      {{ end }} -->
    </li>
  {{ end }}
</ul>
{{ end }}
